.card {
  margin-top: 30px;
  background-color: rgb(32, 34, 36);
  color: white;
  width: 240px;
  border-radius: 30px;
  padding-bottom: 10px;
}
.poster {
  display: flex;
  padding: 20px 0 0px 20px;
  width: 200px;
}

.title {
  padding-left: 20px;
  font-size: 21px;
}

.rating {
  padding: 5px 0 0 20px;
  font-size: 13px;
}
.year {
  padding-left: 20px;
  font-size: 12px;
}
