.card {
  background-color: rgb(32, 34, 36);
  color: white;
  width: 240px;
  height: 100%;
  border-radius: 30px;
}

img {
  border-radius: 20px;
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.movieInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.filmContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bookmarkButton {
  border: 0px;
  margin: 0 0 20px 150px;
  background-color: transparent;
  position: absolute;
}

.bookmarkImg {
  border-radius: 0;
  width: 50px;
  height: 50px;
}
